Sender/Sender/Service References/AuthenticationServer/AuthenticationServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAuthenticationToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sender_userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiver_userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender_nonce" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Encryption_Type" type="tns:EncryptionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="EncryptionType">
        <s:restriction base="s:string">
          <s:enumeration value="AES" />
          <s:enumeration value="DES" />
          <s:enumeration value="OpenSSL" />
        </s:restriction>
      </s:simpleType>
      <s:element name="getAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAuthenticationTokenFixedVer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sender_userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiver_userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender_nonce" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="r_nonce_and_username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Encryption_Type" type="tns:EncryptionType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAuthenticationTokenFixedVerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAuthenticationTokenFixedVerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:getAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="getAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:getAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="getAuthenticationTokenFixedVerSoapIn">
    <wsdl:part name="parameters" element="tns:getAuthenticationTokenFixedVer" />
  </wsdl:message>
  <wsdl:message name="getAuthenticationTokenFixedVerSoapOut">
    <wsdl:part name="parameters" element="tns:getAuthenticationTokenFixedVerResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationServerSoap">
    <wsdl:operation name="getAuthenticationToken">
      <wsdl:input message="tns:getAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:getAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAuthenticationTokenFixedVer">
      <wsdl:input message="tns:getAuthenticationTokenFixedVerSoapIn" />
      <wsdl:output message="tns:getAuthenticationTokenFixedVerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationServerSoap" type="tns:AuthenticationServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAuthenticationToken">
      <soap:operation soapAction="http://tempuri.org/getAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthenticationTokenFixedVer">
      <soap:operation soapAction="http://tempuri.org/getAuthenticationTokenFixedVer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationServerSoap12" type="tns:AuthenticationServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAuthenticationToken">
      <soap12:operation soapAction="http://tempuri.org/getAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthenticationTokenFixedVer">
      <soap12:operation soapAction="http://tempuri.org/getAuthenticationTokenFixedVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationServer">
    <wsdl:port name="AuthenticationServerSoap" binding="tns:AuthenticationServerSoap">
      <soap:address location="http://localhost:4894/AuthenticationServer.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationServerSoap12" binding="tns:AuthenticationServerSoap12">
      <soap12:address location="http://localhost:4894/AuthenticationServer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>